# Idris binaries
*.ibc

# PDFs
*.pdf

# Test C src
Idris_Stuff/src

# Vim lock files
*~

# Archives/Compressed things
*.gz
*.tar
*.zip

# Misc
Idris_Stuff/clean
Dissertation/main.out
Dissertation/uosta/University\ of\ St\ Andrews\ -\ Logos

